* text=auto

# Set line endings to LF, even on Windows. Otherwise, execution within Docker fails.
# See https://help.github.com/articles/dealing-with-line-endings/
*.sh text eol=lf
*.rb text eol=lf

# Exclude files from exporting

.gitattributes export-ignore
.gitignore     export-ignore